body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('background.jpg'); /* تغییر مسیر بسته به مکان تصویر پس‌زمینه */
    background-size: cover;
    background-position: center;
    color: #fff;
}

header {
    padding: 80px 0;
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffcc00;
}

main {
    padding: 50px;
}

section {
    margin-bottom: 50px;
}

footer {
    background-color: #222;
    padding: 20px 0;
    text-align: center;
    color: #fff;
}
